<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wgcloud.mapper.LogMonMapper">
    <resultMap id="resultMap" type="com.wgcloud.entity.LogMon">
        <id column="ID" property="id" jdbcType="CHAR" />
        <result column="APP_NAME" property="appName" jdbcType="CHAR" />
        <result column="FILE_PATH" property="filePath" jdbcType="CHAR" />
        <result column="MATCH_KEYWORDS" property="matchKeywords" jdbcType="CHAR" />
        <result column="UN_MATCH_KEYWORDS" property="unMatchKeywords" jdbcType="CHAR" />
        <result column="TARGET_TAGS" property="targetTags" jdbcType="CHAR" />
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="tableColumnList">
        ID,APP_NAME,FILE_PATH,MATCH_KEYWORDS,UN_MATCH_KEYWORDS,TARGET_TAGS,CREATE_TIME
    </sql>

    <sql id="queryByParams">
        <if test="appName != null and appName != ''">
            <![CDATA[ AND APP_NAME LIKE CONCAT('%',#{appName},'%')]]>
        </if>
        <if test="tags != null">
            AND
            <foreach collection="tags" item="item" index="index" open="(" separator="OR" close=")">
                TARGET_TAGS LIKE CONCAT('%"',#{item},'"%')
            </foreach>
        </if>
    </sql>

    <select id="selectById" resultMap="resultMap" parameterType="java.lang.String">
        SELECT
        <include refid="tableColumnList" />
        FROM LOG_MON WHERE ID=#{id}
    </select>

    <delete id="deleteById" parameterType="java.lang.String">
        DELETE FROM LOG_MON WHERE ID IN
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <insert id="save" parameterType="com.wgcloud.entity.LogMon">
        INSERT INTO LOG_MON
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">ID,</if>
            <if test="appName != null">APP_NAME,</if>
            <if test="filePath != null">FILE_PATH,</if>
            <if test="matchKeywords != null">MATCH_KEYWORDS,</if>
            <if test="unMatchKeywords != null">UN_MATCH_KEYWORDS,</if>
            <if test="targetTags != null">TARGET_TAGS,</if>
            <if test="createTime != null">CREATE_TIME</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="appName != null">#{appName},</if>
            <if test="filePath != null">#{filePath},</if>
            <if test="matchKeywords != null">#{matchKeywords},</if>
            <if test="unMatchKeywords != null">#{unMatchKeywords},</if>
            <if test="targetTags != null">#{targetTags},</if>
            <if test="createTime != null">#{createTime}</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.wgcloud.entity.LogMon">
        UPDATE LOG_MON
        <set>
            <if test="appName != null">APP_NAME=#{appName},</if>
            <if test="filePath != null">FILE_PATH=#{filePath},</if>
            <if test="matchKeywords != null">MATCH_KEYWORDS=#{matchKeywords},</if>
            <if test="unMatchKeywords != null">UN_MATCH_KEYWORDS=#{unMatchKeywords},</if>
            <if test="targetTags != null">TARGET_TAGS=#{targetTags},</if>
        </set>
        WHERE ID=#{id}
    </update>

    <select id="countByParams" parameterType="map" resultType="java.lang.Integer">
        SELECT count(*) FROM LOG_MON
        <where>
            <include refid="queryByParams" />
        </where>
    </select>

    <select id="selectByParams" parameterType="map" resultMap="resultMap">
        SELECT
        <include refid="tableColumnList" />
        FROM LOG_MON
        <where>
            <include refid="queryByParams" />
        </where>
        ORDER BY CREATE_TIME DESC
    </select>

</mapper>
